%center
  .container.edit-profile
    .panel.panel-info
      .panel-heading
        %h2 Edit Profile
      .panel-body
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          = devise_error_messages!
          .form-group
            = f.label :artist_name
            %br/
            = f.text_field :artist_name
          .form-group
            = f.label :creative_field
            %br/
            = f.text_field :creative_field
          .form-group
            = f.label :bio
            %br/
            = f.text_area :bio
          .form-group
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true
          .form-group
            = f.label :password
            %i (leave blank if you don't want to change it)
            %br/
            = f.password_field :password, autocomplete: "off"
            - if @minimum_password_length
              %br/
              %em
                = @minimum_password_length
                characters minimum
          .form-group
            = f.label :password_confirmation
            %br/
            = f.password_field :password_confirmation, autocomplete: "off"
          .form-group
            = f.label :current_password
            %i (we need your current password to confirm your changes)
            %br/
            = f.password_field :current_password, autocomplete: "off"
          .form-group
            = f.submit "Update", class: "btn btn-info btn-lg standard-button2"
        = link_to "Back", :back
