%h1.font-orange= @post.title
%p.font-sea
  by
  = "@" + @post.user.username
%p.font-white
  = @post.content

- if @post.user.id == current_user.id
  .btn-group-sm
    %button#link-style3.btn.btn-success
      = link_to 'Edit', edit_post_path(@post)
    %button#link-style3.btn.btn-danger
      = link_to 'Delete', post_path(@post), method: :delete, data:{ confirm: "Are you sure you want to do this?" }
  %br
  %button#link-style3.btn.btn-alt
    = link_to 'Back', community_path
- else
  %button#link-style3.btn.btn-alt
    = link_to 'Back', community_path
